.nf-container {
  align-items: center;
  padding: 32px;
}

.flex-center {
  display: flex;
  justify-content: center;
}
.l-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.nf-response {
  margin: 32px;
  height: 100%;
  flex-direction: column;
}

.l-flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
